{% if content.fields.image is defined and not ibexa_field_is_empty(content, 'image') %}
    {% set image_alias = ibexa_image_alias(ibexa_field(content, 'image'), content.versionInfo, 'nglayouts_app_preview') %}

    {% if image_alias %}
        <div class="image">
            <img src="{{ asset(image_alias.uri) }}" />
        </div>
    {% endif %}
{% endif %}

<div class="name">
    <p><a href="{{ nglayouts_item_path(nglayouts_item, 'admin') }}" target="_blank" rel="noopener noreferrer">{{ content.name }}</a></p>
</div>

<div class="value-type">
    <p>{{ nglayouts_value_type_name(nglayouts_item) }} ({{ content.contentType.name }})</p>
</div>
