{# We should use ez_field_is_empty function, but it does not exist on eZ kernel 7.5 #}
{% if content.fields.image is defined and not nglayouts_ez_field_is_empty(content, 'image') %}
    {% set image_alias = ez_image_alias(ez_field(content, 'image'), content.versionInfo, 'nglayouts_app_preview') %}

    {% if image_alias %}
        <div class="image">
            <img src="{{ asset(image_alias.uri) }}" />
        </div>
    {% endif %}
{% endif %}

<div class="name">
    {% if nglayouts_item is defined %}
        <p><a href="{{ nglayouts_item_path(nglayouts_item) }}" target="_blank" rel="noopener noreferrer">{{ content.name }}</a></p>
    {% else %}
        <p><a href="{{ path(content) }}" target="_blank" rel="noopener noreferrer">{{ content.name }}</a></p>
    {% endif %}
</div>

<div class="value-type">
    {% if nglayouts_item is defined %}
        <p>{{ nglayouts_value_type_name(nglayouts_item) }} ({{ content.contentType.name }})</p>
    {% else %}
        <p>{{ content.contentType.name }}</p>
    {% endif %}
</div>
