{% trans_default_domain 'nglayouts_ezadminui' %}

{#
    Using "@ezdesign/parts/table_header.html.twig" template and "headerText"
    variable is deprecated, it comes from eZ Platform 2.5
#}
{% include ['@ezdesign/ui/table_header.html.twig', '@ezdesign/parts/table_header.html.twig'] with {
    'ground': 'title-direct-rules',
    'header_text': 'rules.title'|trans,
    'headerText': 'rules.title'|trans
} %}

{% include ['@ezdesign/ui/table_header.html.twig', '@ezdesign/parts/table_header.html.twig'] with {
    'ground': 'title-all-rules',
    'header_text': 'rules.title_all_rules'|trans,
    'headerText': 'rules.title_all_rules'|trans
} %}

<div class="bg-white p-3 mb-5">
    {% if rules is not empty %}
        <ul class="layout-list">
            <li class="layout-list-head">
                <div class="layout-name">{{ 'rules.mapped_layout'|trans }}</div>
                <div class="layout-target">{{ 'rules.targets'|trans }}</div>
                <div class="layout-conditions">{{ 'rules.conditions'|trans }}</div>
                <div class="layout-actions"></div>
                <div class="layout-dropdown"></div>
            </li>

            {% for rule in rules %}
                <div class="rule{% if not (rules_one_on_one[rule.id.toString] ?? false) %} rule-non-direct{% endif %}">
                    {{ nglayouts_render_rule(rule, { location: location }, 'ezadminui') }}
                </div>
            {% endfor %}
        </ul>

        <div class="show-all-rules">
            <label><input type="checkbox" name="show-all-rules" class="rules-checkbox" /> {{ 'rules.show_all_rules'|trans }}</label>
        </div>

        <div>
            <button class="btn btn-primary js-direct-mapping">create new direct mapping</button>
        </div>
    {% else %}
        <p>{{ 'rules.no_rules'|trans }}</p>
    {% endif %}
</div>
